:root {
    --font-size: 1.2vmax;
    /* --font-size: 0.5cm; */
}

body {
    color: rgb(223, 223, 223);
    background-color: rgb(36, 36, 36);
    font-family: Verdana, sans-serif;
    font-size: var(--font-size);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

td {
    padding: 0px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.black-button {
    border-width: 0px;
    background-color:rgb(81, 81, 81);
    color: rgb(223, 223, 223);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.2s;
}

.black-button:hover {
    background-color:rgb(58, 58, 58);
}

.table-division-2 {
    width: 100%;
    height: 100%;
}

.table-division-left-cell {
    width: calc(50% - 0.5px);
    height: 100%;
    text-align: right;
    padding: 20px;
    padding-right: 50px;
}

.table-division-divider {
    width: 3px;
    height: 100%;
    background-color: rgb(223, 223, 223);
    border-radius: 1px;
}

.table-division-right-cell {
    width: calc(50% - 0.5px);
    height: 100%;
    text-align: left;
    padding: 20px;
    padding-left: 50px;
}

.darkest-background {
    background-color: rgb(26, 26, 26);
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    width: max-content;
    margin-bottom: 15px;
}

.menu-summary {
    width: auto;
    margin-right: 15px;
}

hr {
    height: 2.5px;
    background-color: rgb(223, 223, 223);
    border-radius: 1px;
}

.messages-menu {
    width: calc(22vw - 5vmin - 3px);
    border-right: 3px solid rgb(223, 223, 223);
    vertical-align: top;
}

.menu-list {
    overflow-y: scroll;
    height: 99vh;
}

.messages-content {
    max-width: calc(78vw - 48px);
    height: 99vh;
}

#messages-list {
    margin-left: 12px;
    margin-right: 12px;
    width: auto;
    height: calc(100% - 5.5 * var(--font-size));
    overflow-y: scroll;
    overflow-x: hidden;

    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

#message-editor {
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10px;
    width: auto;
    height: calc(3 * var(--font-size));
    font-size: var(--font-size);

    background-color: rgb(26, 26, 26);
    border: 2px solid rgb(81, 81, 81);

    padding: 12px;
    padding-right: calc(4 * var(--font-size));
    outline: 0px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#send-message-btn {
    max-width: calc(2.5 * var(--font-size));
    max-height: calc(2.5 * var(--font-size));
    border-radius: calc(2.5 * var(--font-size));
    float: right;
    font-size: calc(1.5 * var(--font-size));
    font-weight: bold;
    overflow: hidden;
    display: block;

    margin-top: calc(-3 * var(--font-size));
    margin-right: calc(1 * var(--font-size));
    z-index: 1;

    position: relative;
    left: 0px;
    right: 0px;
    bottom: calc(0.5 * var(--font-size));
}

.new-user-input {
    background-color: rgb(26, 26, 26);
    border: 2px solid rgb(81, 81, 81);
    color: rgb(223, 223, 223);
    outline: 0px;
    margin: 5px;
}

.summary-label {
    cursor: pointer;
}

.message-header {
    margin: 0;
    font-weight: bold;
}

.my-message-header {
    text-align: right;
}

.regular-message-header {
    text-align: left;
}

.message-timestamp {
    font-size: calc(0.5 * var(--font-size));
    margin-left: 5px;
    margin-right: 5px;
}

.my-messege-timestamp {
    float: right;
}

.regular-message-timestamp {
    float: left;
}

.message-content {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    word-wrap: break-word;
}

.message-content p {
    margin: 2px;
}

.message-cloud {
    margin: 15px;
    min-width: 10vw;
    max-width: 70%;
    font-size: var(--font-size);
    padding: 10px;
    padding-bottom: 18px;
    border-radius: 25px;
    width: max-content;
    height: min-content;
    display: block;
}

.message-cloud hr {
    height: 1px;
    margin: 0px
}

.my-messege {
    background-color: rgb(58, 58, 58);
    margin-left: auto;
}

.regular-message {
    background-color: rgb(81, 81, 81);
    margin-right: auto;
}

#new-messages-label {
    background-color: rgb(139, 0, 0);
    float: left;
    height: 24px;
    margin-left: 30vw;
    margin-top: -24px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    z-index: 2;

    position: relative;
}

#new-messages-label:hover {
    background-color: rgb(189, 0, 0);
}

#menu-button {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 0px;
    max-width: calc(2.5 * var(--font-size));
    max-height: calc(2.5 * var(--font-size));
    margin-left: 0px;
    font-size: calc(1.5 * var(--font-size));
    font-weight: bold;
    z-index: 1;
}

.chat-list-table {
    border-collapse: collapse;
    width: 100%;
}

.chat-list-table th {
    background-color: rgb(58, 58, 58);
    padding-left: 5px;
    padding-right: 5px;
}

.chat-list-table td, .chat-list-table tr {
    border: 1px solid rgb(81, 81, 81);
    padding: 8px;
    cursor: pointer;
}

.chat-list-table tr:nth-child(even){background-color: rgb(26, 26, 26);}
.chat-list-table tr:hover {background-color: rgb(36, 36, 36)}

.class-list-row-unread {
    font-weight: bold;
}

.chat-list-cell a {
    color: inherit;
    text-decoration: inherit;
}

#logo-in-menu {
    height: 3vmax;
    padding-left: calc(2.5 * var(--font-size));
    padding-top: calc(0.3 * var(--font-size));
    font-weight: bolder;
    font-size: calc(1.1 * var(--font-size));
    cursor: pointer;
}

#github-link {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: smaller;
    color: gray;
    z-index: -1;
}

.language-selector {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    padding: 0px;
}

.language-selector summary {
    padding: 3px 10px 3px 10px;
    display: inline;
}


.language-selector div:hover {
    background-color: rgb(26, 26, 26);
}


.db-error {
    padding: 5%;
    width: 90%;
    text-align: center;
}


.db-error img {
    width: 10%;
}
